## Installing Python

### Standard Installation

https://www.python.org/downloads/

https://wiki.python.org/moin/BeginnersGuide/Download

pip installation

https://pip.pypa.io/en/stable/installing/

### Anaconda

https://docs.anaconda.com/anaconda/install/

## Value Type

### int

In [ ]:
type(243)

### float

In [ ]:
type(243.34)

### Boolean

In [9]:
type(True)

bool

In [10]:
type(False)

bool

### String

In [11]:
type('True')

str

In [13]:
type('Rio')

str

### Exercise

What would be the data type of the results for the following:

In [ ]:
"Hello, " + "World!"

In [ ]:
a = "Hello, " + "World!"
type(a)

In [ ]:
20 + 22

In [ ]:
a = 20 + 22
type(a)

In [ ]:
20 + 22.0

In [ ]:
a = 20 + 22.0
type(a)

In [ ]:
20 + "22.0"

In [ ]:
a = 20 + "22.0"
type(a)

## Collection Type

### List

In [9]:
A = [3,45,5,7,8,9]

#### List indexing

In [10]:
A[0]

45

In [11]:
A[-1]

9

In [12]:
A[-2]

8

#### List slicing

In [121]:
A[2:4]

[5, 7]

In [122]:
A[2:]

[5, 7, 8, 9]

How to get the first three elements of the list?

#### Appending to the list

In [123]:
A.append(3)
print(A)

[3, 45, 5, 7, 8, 9, 3]

In [124]:
A.append([4,5,3])
print(A)

[3, 45, 5, 7, 8, 9, 3, [4, 5, 3]]

In [127]:
A = [3,45,5,7,8,9]
A.extend([4,5,3])
A

[3, 45, 5, 7, 8, 9, 4, 5, 3]

#### Lists are mutable

In [13]:
B = [34,5,56,7,78,893,12]
B[1] = 10
B

[34, 10, 56, 7, 78, 893, 12]

#### Sorting the list

In [6]:
list_a = [45,65,67,8,45,34,6,78,56,789,34,2346,78,45]
list_a.sort()
list_a

[6, 8, 34, 34, 45, 45, 45, 56, 65, 67, 78, 78, 789, 2346]

### Dictionary

In [4]:
Dict = {'Afghanistan':'Kabul', 'Albania':'Tirana', 'Algeria':'Algiers'}

Querying a dictionary

In [5]:
Dict['Albania']

'Tirana'

Adding new elements

In [12]:
Dict['United States of America'] = 'Washington D.C.'

Checking elements of Dictionary

In [13]:
'Angola' in Dict

False

Dictionary within a dictionary (Nested dictionaries)

In [15]:
Dict = {'Afghanistan':{'Capital':'Kabul', 'population': 35530081}, 'Albania':{'Capital':'Tirana', 'population':2930187}, 
        'Algeria':{'Capital':'Algiers', 'population':41318142}}

In [137]:
Dict['Afghanistan']['Capital']

'Kabul'

### Exercise

What is the output of the following code

In [16]:
for k in Dict:
    print(k)

Afghanistan
Albania
Algeria

In [17]:
for k in Dict:
    print(Dict[k])

{'Capital': 'Kabul', 'population': 35530081}
{'Capital': 'Tirana', 'population': 2930187}
{'Capital': 'Algiers', 'population': 41318142}

In [ ]:
Dict.keys()

In [ ]:
Dict.values()

### set

In [19]:
a = {'dog', 'apple', 'table'}
b = {'table', 'computer', 'cup'}

In [139]:
len(a)

3

Sets cannot be indexed

In [20]:
a[1]

TypeError: 'set' object does not support indexing

In [140]:
'cat' in a

False

In [141]:
a.union(b)

{'apple', 'computer', 'cup', 'dog', 'table'}

In [142]:
a.intersection(b)

{'table'}

In [25]:
print(a.difference(b))
print(b.difference(a))

{'dog', 'apple'}
{'computer', 'cup'}

In [26]:
a.symmetric_difference(b)

{'apple', 'computer', 'cup', 'dog'}

### tuple

In [143]:
a = (3,5,6,7,4,78)

In [144]:
a[1:5]

(5, 6, 7, 4)

tuple can contain multiple data types

In [145]:
b = ('Hello', 2 ,[3,4,2,4], 'Two')

In [146]:
a[0]

3

Tuples are immutable; however, mutable objects within a tuple are mutable

In [148]:
a[0] = 2

TypeError: 'tuple' object does not support item assignment

In [149]:
b[2][3] = 12
print(b)

('Hello', 2, [3, 4, 2, 12], 'Two')

### Exercise

Given the following string, count the number of words in the entire paragraph.

In [27]:
S = """but I must explain to you how all this mistaken idea of 
        denouncing pleasure and praising pain was born and I will 
        give you a complete account of the system and expound the 
        actual teachings of the great explorer of the truth the 
        master-builder of human happiness no one rejects dislikes 
        or avoids pleasure itself because it is pleasure but because 
        those who do not know how to pursue pleasure rationally 
        encounter consequences that are extremely painful
        nor again is there anyone who loves or pursues or desires 
        to obtain pain of itself because it is pain but because 
        occasionally circumstances occur in which toil and pain can 
        procure him some great pleasure to take a trivial example 
        which of us ever undertakes laborious physical exercise except 
        to obtain some advantage from it but who has any right to find 
        fault with a man who chooses to enjoy a pleasure that has no 
        annoying consequences or one who avoids a pain that produces no
        resultant pleasure"""

In [30]:
S ="but I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system and expound the actual teachings of the great explorer of the truth the master-builder of human happiness no one rejects dislikes or avoids pleasure itself because it is pleasure but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painfulnor again is there anyone who loves or pursues or desires to obtain pain of itself because it is pain but because occasionally circumstances occur in which toil and pain can procure him some great pleasure to take a trivial example which of us ever undertakes laborious physical exercise except to obtain some advantage from it but who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences or one who avoids a pain that produces no resultant pleasure"

In [31]:
type(S)

str

In [33]:
Str_split = S.split(" ")

## Control Flow

#### if/else

In [46]:
hours = 50

if hours <= 40:
    print(hours*20)
elif (hours > 40) and (hours <= 80):
    print((40*20) + ((hours-40)*40))
else:
    print((40*20) + (40*40) + ((hours-80)*60))

1200

### Exercises

1. Given a list L find all the unique elements in the list

In [ ]:
L = [34,56,3,98,56,956,8,45,34,6778,68,456889,3423,56,6,90,4523,23,56,8,892,1]

2. Find the second smallest element in a list

In [19]:
A = [456,7,4,67,45,76,5,67,435,567,345,576,7345,57,68,456,567,545]

In [24]:
smallest = 9999999
second_smallest = 9999999

for i in B:
    if i < second_smallest   & second_smallest > smallest:
        second_smallest = i
    if smallest > i:
        smallest = i

-456

6

## Loops

## For loop

In [10]:
for i in range(30):
    print(i**2)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841

## While loop

In [48]:
i = 2
while i < 1000:
    i = i*i
    print(i)

4
16
256
65536

### Exercise

Find the sum of all square numbers from 100 through 20000, inclusively.

## Function

In [49]:
def Taylor_exp_approx(x):
    result = 1 + x + (x**2)/(1*2) + (x**3)/(1*2*3)
    return result

In [52]:
Taylor_exp_approx(0.3)

1.3495

Write a function to say if a number is a prime

In [ ]:
def primeCheck(n):
    if n is prime:
        print("%d is a prime number" % n)
    if n is not prime:
        print("%d is not a prime number" % n)

# Some important bulit-in functions

### Math functions

In [38]:
import math

In [59]:
print(math.log(9))
print(math.log10(9))
print(math.log2(9))

2.1972245773362196
0.9542425094393249
3.169925001442312

In [60]:
math.pi

3.141592653589793

In [61]:
math.e

2.718281828459045

In [62]:
math.exp(9)

8103.083927575384

In [63]:
math.floor(9.423)

9

In [65]:
math.ceil(9.423)

10

In [67]:
math.fmod(15, 7)

1.0

### Print function

In [68]:
print('Hello')

Hello

In [69]:
print('Hello', 2)

Hello 2

In [76]:
print('Hello this is %s I have %d dollars' %('me', 89))

Hello this is me I have 89 dollars

In [84]:
print('The answer is %0.2f' %(45.67534))

The answer is 45.68

### String Function

In [104]:
name = 'Ireland'

In [88]:
name.split('e')

['Ir', 'land']

In [92]:
name.split('e',3)

['Ir', 'land']

In [95]:
name.find('land')

3

In [97]:
a = 'banana'
a.find('an',2)

3

In [102]:
b = '  Hello World '
b.strip()

'Hello World'

In [ ]:
b.rstrip()

In [ ]:
b.lstrip()

In [106]:
a.count('n')

2

Create file

In [155]:
f = open("new.txt","w+")

Update or write in a file

In [156]:
for i in range(100):
     f.write("This is line %d\n" % (i+1))
f.close()

Read a file

In [158]:
file = open("new.txt", "r") 
print (file.read())

This is line 1
This is line 2
This is line 3
This is line 4
This is line 5
This is line 6
This is line 7
This is line 8
This is line 9
This is line 10
This is line 11
This is line 12
This is line 13
This is line 14
This is line 15
This is line 16
This is line 17
This is line 18
This is line 19
This is line 20
This is line 21
This is line 22
This is line 23
This is line 24
This is line 25
This is line 26
This is line 27
This is line 28
This is line 29
This is line 30
This is line 31
This is line 32
This is line 33
This is line 34
This is line 35
This is line 36
This is line 37
This is line 38
This is line 39
This is line 40
This is line 41
This is line 42
This is line 43
This is line 44
This is line 45
This is line 46
This is line 47
This is line 48
This is line 49
This is line 50
This is line 51
This is line 52
This is line 53
This is line 54
This is line 55
This is line 56
This is line 57
This is line 58
This is line 59
This is line 60
This is line 61
This is line 62
This is line 63
This is line 64
This is line 65
This is line 66
This is line 67
This is line 68
This is line 69
This is line 70
This is line 71
This is line 72
This is line 73
This is line 74
This is line 75
This is line 76
This is line 77
This is line 78
This is line 79
This is line 80
This is line 81
This is line 82
This is line 83
This is line 84
This is line 85
This is line 86
This is line 87
This is line 88
This is line 89
This is line 90
This is line 91
This is line 92
This is line 93
This is line 94
This is line 95
This is line 96
This is line 97
This is line 98
This is line 99
This is line 100

In [165]:
for line in file: 
    print (line)

his is line 1

This is line 2

This is line 3

This is line 4

This is line 5

This is line 6

This is line 7

This is line 8

This is line 9

This is line 10

This is line 11

This is line 12

This is line 13

This is line 14

This is line 15

This is line 16

This is line 17

This is line 18

This is line 19

This is line 20

This is line 21

This is line 22

This is line 23

This is line 24

This is line 25

This is line 26

This is line 27

This is line 28

This is line 29

This is line 30

This is line 31

This is line 32

This is line 33

This is line 34

This is line 35

This is line 36

This is line 37

This is line 38

This is line 39

This is line 40

This is line 41

This is line 42

This is line 43

This is line 44

This is line 45

This is line 46

This is line 47

This is line 48

This is line 49

This is line 50

This is line 51

This is line 52

This is line 53

This is line 54

This is line 55

This is line 56

This is line 57

This is line 58

This is line 59

This is line 60

This is line 61

This is line 62

This is line 63

This is line 64

This is line 65

This is line 66

This is line 67

This is line 68

This is line 69

This is line 70

This is line 71

This is line 72

This is line 73

This is line 74

This is line 75

This is line 76

This is line 77

This is line 78

This is line 79

This is line 80

This is line 81

This is line 82

This is line 83

This is line 84

This is line 85

This is line 86

This is line 87

This is line 88

This is line 89

This is line 90

This is line 91

This is line 92

This is line 93

This is line 94

This is line 95

This is line 96

This is line 97

This is line 98

This is line 99

This is line 100

### Exercise

Print the even numbered lines of the text file

## Data file Manipulation

In [169]:
 import csv

In [170]:
with open('mtcars.csv') as csvfile:
    reader = csv.DictReader(csvfile)
    for row in reader:
        print (row['mpg'], row['gear'])

21 4
21 4
22.8 4
21.4 3
18.7 3
18.1 3
14.3 3
24.4 4
22.8 4
19.2 4
17.8 4
16.4 3
17.3 3
15.2 3
10.4 3
10.4 3
14.7 3
32.4 4
30.4 4
33.9 4
21.5 3
15.5 3
15.2 3
13.3 3
19.2 3
27.3 4
26 5
30.4 5
15.8 5
19.7 5
15 5
21.4 4

## Additional tips and tricks

#### lambda function

In [114]:
g = lambda x: 7*x**3 + 2

In [116]:
g(2)

58

Vectorized operation in a list

In [44]:
A = [1,2,3,4,5,6,7]

In [45]:
Square_A = [i**2 for i in A]
print(Square_A)

[1, 4, 9, 16, 25, 36, 49]

## __name__ == "__main__"

In [ ]:
def main():
    pass

if __name__ == "__main__":
    main()

## Exercises

1. Write a python program to print the following configuration

In [ ]:
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*

2. Find the sum of all square numbers from 100 through 20000, inclusively.